/* 全局样式 */
HTML,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 卡片区域 */
.el-card{
    box-shadow: 0 1px 1px rgba(0, 8, 10, 0.15) !important;
}

/* 表格样式 */
.el-table{
    margin-top: 20px;
    font-size: 15px;
    min-width: 350px;
}

/* el-breadcrumb样式 */
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 22px;
}

/* el-breadcrumb激活页面样式 */
.activepage{
    font-weight: bold;
    color: black;
}